.parallax-container {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .parallax-image {
    width: 100%;
    height: auto;
    opacity: 0.5;
  }
  
  @keyframes parallax-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .tp-big{
    width: 40%;
    position: absolute;
    right : 75%;
    animation: parallax-spin infinite 50s linear;
  }

  .tp-med{
    width: 30%;
    position: absolute;
    bottom : 60%;
    left : 80%;
    animation: parallax-spin infinite 30s linear;
  }

  .tp-smol{
    width: 20%;
    position: absolute;
    top : 70%;
    left : 50%;
    animation: parallax-spin infinite 21s linear;
  }


  @media(max-width: 600px) {
    
    .tp-big{
      width: 80%;
      bottom: 25%;
      right : -55%;
    }

    .tp-med{
      width: 80%;
      bottom : 50%;
      left : -45%;
    }

    .tp-smol{
      width: 90%;
      top : 80%;
      left : 5%;
    }
    
}